{% extends "base.html.twig" %}

{% block title %}Articles{% endblock %}

{% block body %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th class="px-4 py-2">Domain</th>
            <th class="px-4 py-2">Email/Phone</th>
            <th class="px-4 py-2">Password</th>
            <th class="px-4 py-2">Status</th>
            <th class="">Action</th>
        </tr>
        </thead>

        <tbody>
        {% for account in accounts %}
            <tr>
                <td class="border px-4 py-2">{{ account.domain }}</td>
                <td class="border px-4 py-2">{{ account.EmailOrPhone }}</td>
                <td class="border px-4 py-2">{{ account.password }}</td>
                <td class="border px-4 py-2">{{ account.status }}</td>
                <td class="border px-4 py-2">
                    <a href="btn btn-info">Edit</a>
                    <a href="btn btn-danger">Delete</a>

                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}  