{% extends "base.html.twig" %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>My name is {{ "Shihab" }}</h1>

    <table class="table-auto items-center justify-between ">
    <thead>
        <tr>
            <th class="px-4 py-2">Title</th>
            <th class="px-4 py-2">Author</th>
            <th class="px-4 py-2">Views</th>
        </tr>
    </thead>

    <tbody>
    {% for article in articles %}
        <tr>
            <td class="border px-4 py-2">{{ article }}</td>
            <td class="border px-4 py-2"><a href="">Show</a></td>
            
        </tr>
    {% endfor %}
    
   
  </tbody>
    </table>
{% endblock %}  